@tailwind base;
@tailwind components;
@tailwind utilities;

/* SwitchtoDarkMode styles */
.toggle {
  --size: 2rem;

  appearance: none;
  outline: none;
  cursor: pointer;

  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: radial-gradient(circle, #ffa500 50%, transparent 51%);
  transition: all 0.5s ease-in-out;
  position: relative;
  box-shadow: 0 0 10px #ffa500;
}

.toggle.moon {
  background: radial-gradient(circle at 30% 30%, #000 50%, #fff 51%);
  box-shadow: none;
}

.toggle:checked {
  transform: scale(0.75);
  transition: all 0.5s ease-in-out;
}

.title {
  --color: hsl(69, 97%, 49%);
  color: var(--color);
  z-index: 1;
  cursor: pointer;
  display: block;
  margin-top: 0.5rem;
  transition: color 0.5s ease-in-out;
  text-align: center;
  font-size: 1rem;
}

.toggle:checked ~ .title {
  --color: hsl(40, 100%, 50%);
}